 <div class="col-md-12">
<body>
   
<div class="row">

<div class="col-md-8">
      <div class="container">
         <div class="card text-center">
               <div class="card-header bg-secondary text-white">
    <h5 class="card-title text-white" >Consentimiento informado</h5>
               </div>
          <div class="card-body">
  
    <p class="card-text text-md-left">Se seguirán las directrices nacionales (Código deontológico del colegio profesional) e internacionales a este respecto Declaración de Hèlsinki (Fortaleza, Brasil, Octubre 2013). las recomendaciones de la OMS y el código deontológico. 
Todos los participantes en el estudio firmarán un consentimiento informado. Los sujetos firmarán un consentimiento informado antes de iniciarse el estudio previa información sobre los objetivos, desarrollo y alcance del estudio por el investigador principal ó colaboradores. De acuerdo con la Ley de Confidencialidad de Datos (Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales). 
Los investigadores clínicos se comprometen a garantizar la confidencialidad de los datos mediante su anonimización y, en caso de que se incluyan pacientes de otros centros, utilizar un código para cada centro y paciente que solo conocerá el investigador principal de cada centro. El protocolo y su documentación anexa así como las hojas de recogida de datos y toda la información generada durante el estudio se consideran confidenciales. Sólo podrán ser utilizadas por los investigadores y para las finalidades específicas de este protocolo.

</p>
   
   
    <a class="nav-link btn btn-primary" [routerLink]="['/investigadoras']">Salir</a>
       </div>
  
</div>
</div>
</div>


<div class="col-md-4"> 
     <div class="container">

         <div class="card text-center">
             <div class="card-header bg-danger text-white" >
    Autorización
             </div>
           <div class="card-body">
    <h5 class="card-title ">Consentimiento informado</h5>
    <p class="card-text">Por favor, antes de realizar la encuesta, registre el consentimiento informado.</p>
       <a class="nav-link btn btn-primary" *ngIf="auth.loggedIn" [routerLink]="['/profile']">Conforme</a>
      
       </div>
      <div class="card-footer text-muted">
    Si decide no realizar el que consemiento informado, le agradecemos el tiempo que nos ha prestado. 
  </div>
</div>
 </div>
  
</div>
</div>
   
</body>
</div>