<div class="row">

<div class="col-md-8">
      <div class="container">
         <div class="card text-center">
               <div class="card-header bg-secondary text-white">
    <h5 class="card-title text-white" >Instrucciones para realizar encuesta</h5>
               </div>
          <div class="card-body">
    
    <p class="card-text text-md-left"><b >En los tal y cual tal y cual. </b></p>
    <p class="card-text text-md-left">Fenomenal
</p>

    
   
    <a class="nav-link nav-item btn btn-primary" [routerLink]="['home']">Justificación y antecedentes</a>
       </div>
  
</div>
</div>
</div>


<div class="col-md-4"> 
     <div class="container">

         <div class="card text-center">
             <div class="card-header bg-danger text-white" >
    Importante ¡¡¡
             </div>
           <div class="card-body">
    <h5 class="card-title ">Consentimiento informado</h5>
    <p class="card-text">Por favor, antes de realizar la encuesta, registre el consentimiento informado.</p>
    <a href="#" class="btn btn-primary">Acceso al consentimiento </a>
       </div>
      <div class="card-footer text-muted">
    Si decide no realizar el que consemiento informado, le agradecemos el tiempo que nos ha prestado. 
  </div>
</div>
 </div>
  
</div>
</div>