<div class="col-md-12">
<body>
   <div class = "jumbotron style= height: 200px;">
<div class="row">

<div class="col-md-7">
      <div class="container">
         <div class="card text-center">
               <div class="card-header">
    Featured
               </div>
          <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
   <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>
</div>


<div class="col-md-4"> 
     <div class="container">

         <div class="card text-center">
             <div class="card-header bg-danger text-white" >
    Importante ¡¡¡
             </div>
           <div class="card-body">
    <h5 class="card-title ">Consentimiento informado</h5>
    <p class="card-text">Por favor, antes de realizar la encuesta, registre el consentimiento informado.</p>
    <a href="#" class="btn btn-primary">Acceso al consentimiento </a>
       </div>
      <div class="card-footer text-muted">
    Si decide no realizar el que onsemiento, le agradecemos el tiempo que nos ha prestado. 
  </div>
</div>
 </div>
  
</div>




   </div>
   </div>
</body>
</div>